#projects {
  height: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.34% 33.34%;
  grid-template-rows: 33.33% 33.34% 33.34%;
}

#projects[hidden] {
  display: none;
}

#project-descriptions[hidden] {
  display: none;
}

#projects>div:not(.hidden),
#projects>button:not(.hidden) {
  border: 1px solid;
  border-radius: 5%;
  width: 50%;
  height: 50%;
  align-self: center;
  justify-self: center;
}

#projects>button {
  background-color: rgba(0, 0, 0, 0);
  display: initial;
}

#projects>button:disabled {
  cursor: default;
}

body.light #projects>div,
body.light #projects>button {
  border-color: white;
}

body.dark #projects>div,
body.dark #projects>button {
  border-color: black;
}

#pro-title {
  /* height: 0%;
  margin: 0; */
  justify-self: center;
  align-self: center;
  height: 100%;
}

#projects>*>.title {
  font-size: 25px;
}

#projects>*>.description {
  font-size: 15px;
}
