/* body {
  background: linear-gradient(to bottom, #020107 0%, #201b46 100%);
} */

@font-face {
  font-family: 'dot_matrix';
  src: url('Assets/Fonts/dot_matrix/Converted/dotmatri-webfont.woff2') format('woff2'),
    url('Assets/Fonts/dot_matrix/Converted/dotmatri-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

article.title-card {
  width: 100%;
  height: 100%;
  background: none;
}

article.title-card h1 {
  font-family: 'dot_matrix', serif;
  font-size: 7.5rem;
}
