#blog_content {
  text-align: left;
  overflow: auto;
  height: calc(100vh - 150px);
  width: 90%;
  margin: 0 5% 0 5%;
}

#blog_content h1 {
  font-family: initial;
}

#blog_list article {
  background-color: #f7f2f72b;
}
