#blog_list article {
  background-color: #f7f2f72b;
  color: inherit;
}

:where(.dark) :where(.light) #blog_content,
.light #blog_content {
  background-color: #1a1a1a1a;
}

.dark #blog_content {
  background-color: #09090909;
}



#blog_content,
#blog_list {
  text-align: left;
  overflow: auto;
  height: calc(100vh - 150px);
  width: 90%;
  margin: 0 5% 0 5%;

  font-family: initial;
}

#blog_content h1 {
  font-family: initial;
  font-size: 4rem;
}

#blog_content p {
  font-size: 1.2rem;
}

#blog_content a {
  text-decoration: underline;
}

.dark #blog_content a {
  color: #0041C2;
}

:where(.dark) :where(.light) #blog_content a,
.light #blog_content a {
  color: #95ddd5;
}

#blog_content code {
  padding: .1rem .25rem .1rem .25rem;
  background-color: #48484894;
  border-radius: 10px;
}

#blog_content pre {
  background-color: initial;
  white-space: initial;
  padding: 0;
}

body.light #blog_list article {
  color: white;
}

#blog_content div.img {
  width: 100%;
  overflow: auto;
}

#blog_content blockquote {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-inline-start: .25rem solid var(--inverse-primary);
}

:where(.dark) :where(.light) #blog_content blockquote,
.light #blog_content blockquote {
  background: #42424242;
}

.dark #blog_content blockquote {
  background: #1a1a1a1a;
}

#blog_content li {
  font-size: 1.05rem;
}

#blog_back {
  z-index: 5;
  font-size: 2rem;

  position: fixed;
  left: 5%;
  top: 5%;
  padding: 1.5rem;
}
